.result_count {
  font-size: 0.8rem;
}

.cell {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.heading {
  font-weight: 600;
}

.container_result {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

/* At least Tablet */
@media (min-width: 640px) {
}

/* At least Desktop */
@media (min-width: 1024px) {
}
