.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.container {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
}

.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* See https://www.chartjs.org/docs/latest/configuration/responsive.html#important-note */
.chart_container {
  position: relative;
  width: 100%;
}

.chart_title {
  font-weight: 600;
}

/* Tablet */
@media (min-width: 640px) {
  .container {
    padding: 1rem;
    grid-template-columns: repeat(2, 50%);
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .container {
  }
}
